<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/JavaExamples/SwagLabsTests">
        <classes>
            <class name="tests.loginPageTest.LoginPageTest"/>
            <class name="tests.loginPageTest.InventoryPageTest"/>
        </classes>
    </test>
</suite>